tenancy_ocid             = "replace-with-tenancy-ocid"
cc_compartment_ocid      = "replace-with-cc-compartment-ocid"
network_compartment_ocid = "replace-with-network-compartment-ocid"
instance_ocid            = "replace-with-existing-instance-ocid"
vcn_ocid                 = "replace-with-existing-vcn-ocid"
release_manifest_bucket  = "replace-with-namespace-unique-release-bucket"
