.git
.github
.gradle
**/.gradle
**/build
apps
infra
libs
gradle
build.gradle
settings.gradle
gradlew
gradlew.bat
docs
work
outputs
deploy/**
!deploy/aws/
!deploy/aws/database/
!deploy/aws/database/certs/
!deploy/aws/database/certs/rds-global-bundle.pem
docker
compose.yaml
compose.apps.yaml
.env
.env.*
*.iml
