POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=local_postgres_password

USER_DB_NAME=user_db
USER_DB_USERNAME=user_app
USER_DB_PASSWORD=local_user_password

PRODUCT_DB_NAME=product_db
PRODUCT_DB_USERNAME=product_app
PRODUCT_DB_PASSWORD=local_product_password

ORDER_DB_NAME=order_db
ORDER_DB_USERNAME=order_app
ORDER_DB_PASSWORD=local_order_password
