aws_region        = "ap-northeast-2"
name_prefix       = "cc-test"
state_bucket      = "replace-with-globally-unique-state-bucket"
release_bucket    = "replace-with-globally-unique-release-bucket"
github_repository = "sub-nine/CC-Creator-Culture"
