# Runtime values are written by deploy/scripts/deploy.sh.
CANDIDATE_SHA=
DEV_DOMAIN=dev.nodyy.com
USER_DB_ADMIN_PASSWORD=
PRODUCT_DB_ADMIN_PASSWORD=
ORDER_DB_ADMIN_PASSWORD=
USER_DB_PASSWORD=
PRODUCT_DB_PASSWORD=
ORDER_DB_PASSWORD=
GRAFANA_ADMIN_PASSWORD=
CONFIG_SERVER_IMAGE=
EUREKA_SERVER_IMAGE=
GATEWAY_IMAGE=
USER_SERVICE_IMAGE=
PRODUCT_SERVICE_IMAGE=
ORDER_SERVICE_IMAGE=
POSTGRES_IMAGE=
REDIS_IMAGE=
KAFKA_IMAGE=
KAFKA_UI_IMAGE=
PROMETHEUS_IMAGE=
GRAFANA_IMAGE=
ZIPKIN_IMAGE=
CADDY_IMAGE=
